.border_button{
    padding: 1rem 3rem;
    border: 0.2rem solid white;
    background-color: transparent;
    color: white;
    border-radius: 1rem;
    margin-top: 1.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.border_button:hover{
    background-color: rgba(255, 255, 255, 0.116);
    transition: 0.3s;
}

/* pricing button css start */

.Pricing_button{
    padding: 1.4rem 4rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #0B9AD6;
    color: white;
    transition: 0.3s;
    margin-top: 4rem;
    cursor: pointer;
}
.Pricing_button:hover{
    background-color: #087eb1;
    transition: 0.3s;
}