.Our_coaches_card{
    display: flex;
    flex-direction: column;
    width: 25rem;
    align-items: center;
    justify-content: center;
    height: 33rem;
    transition: 0.2s;
}
.Our_coaches_card:hover{
    transform: scale(1.05);
    translate: all 0.2s;
    transition: 0.2s;

}
.image{
    width: 100%;
    margin-bottom: 2rem;
    box-shadow: 0rem 1rem 2rem -0.7rem #0b99d64f;
    border-radius: 2rem;
    height: auto;
    object-fit: cover;
}
.first_text{
    padding-bottom: 1rem;
    font-size: 2.5rem;
}
.second_text{
    font-size: 1.5rem;
}
.center_text_our_coaches{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width:900px) {
    .Our_coaches_card:nth-child(even){
        flex-direction: row-reverse;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        margin: 4rem 0rem 4rem 0rem;
    }
    .Our_coaches_card:nth-child(odd){
        flex-direction: row;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
    }
    .image{
        padding: 0px;
        width: 30rem;
    }
    .first_text{
        padding: 0px;
    }
    .center_text_our_coaches{
        display: flex;
        flex-direction: column;
        margin: 6rem 6rem;
        align-items: center;
    }
}
@media screen and (max-width:414px){
    .Our_coaches_card:nth-child(even){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0rem 0rem 0rem 0rem;

    }
    .Our_coaches_card:nth-child(odd){
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .image{
        width: 100%;
    }
    .first_text{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .second_text{
        font-size: 1.5rem;
    }
}

/* Testimonials_card css start */

.Testimonials_card{
    width: 35rem;
    height: 60rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0rem 3rem;
    text-align: center;
    box-shadow: 0rem 1rem 2rem -0.7rem #0b99d64f;
    border-radius: 3rem;
}
.test_image{
    width: 15rem;
    margin-bottom: 2rem;
}
#test_name{
    font-weight: 500;
    margin-bottom: 8rem;
}
#test_down_name{
    font-weight: 500;
}
.quote{
    width: 5.5rem;
    margin-bottom: 3rem;
}
#down_pera{
    line-height: 2.5rem;
}